annotated-doc
annotated-types
anyio
asgiref
backoff
bcrypt
build
certifi
charset-normalizer
chromadb
click
colorama
coloredlogs
distro
durationpy
et_xmlfile
fastapi
filelock
flatbuffers
fsspec
googleapis-common-protos
groq
grpcio
h11
httpcore
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
Jinja2
joblib
kubernetes
markdown-it-py
MarkupSafe
mdurl
mmh3
mpmath
networkx
nltk
numpy
oauthlib
onnxruntime
openpyxl
overrides
packaging
pandas
Pillow
posthog
protobuf
pulsar-client
pydantic
pydantic_core
Pygments
PyPika
pyproject_hooks
pyreadline3
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
requests-oauthlib
rich
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
setuptools
shellingham
six
sniffio
starlette
sympy
tenacity
threadpoolctl
tokenizers
torch
torchvision
tqdm
transformers
typer
typing-inspection
typing_extensions
tzdata
urllib3
crewai
uvicorn
watchfiles
websocket-client
websockets
wrapt
zipp
dspy-ai
openai>=1.0.0
datasets>=2.16.0
pyarrow>=15.0.0
